@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400;700&display=swap');
// place global css here
$navy-blue: rgba(34, 53, 92, 1);
$orange: #FFAF00;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: $navy-blue;
  background-color: snow;
}

.st0 {
  fill:#22355C;
}

.st1 {
  fill:#FFAF00;
}

#top-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;

  h3 {
    font-family: 'Poppins', sans-serif;
    color: $navy-blue;
    font-weight: bold;
    font-size: 35px;
  }

  h6 {
    color: gray;
    font-size: 20px;
  }
}

.top-header-left {
  display: flex;
  
  img {
    height: 75px;
    margin-right: 10px;
  }

  hgroup{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.contact-info {
  display: flex;
  align-items: flex-end;

  div {
    margin-left: 25px;
  }

  h4 {
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: fit-content;
    border-bottom: $navy-blue 3px solid;
  }

  p {
    font-size: 16px;
    color: gray;
  }
}

nav {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 5%;
  background-color: $orange;
  font-weight:600;

  div {
    position: relative;

    &:hover ul {
      display: block;
    }
  }

  button {
    cursor: pointer;
    border: none;
    outline:none;
  }
  
  ul {
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 70px;
    background-color: #FFF;
    width: 100%;
    border-top: 4px solid $navy-blue;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .2);
    display: none;

    &:hover {
      display: block;
    }
  }

  li {
    list-style-type: none;

    a {
      color: $orange;
      transition: .5s;

      &:hover{
        color: $navy-blue;
      }
    }
    
  }
  .nav-element {
    margin-right: 20px;
    padding: 20px 0;
    color: #FFF;
    transition: .5s;
    font-size: 20px;

    &:hover{
      color: $navy-blue;
    } 
  }
}

main {
  width: 100%;
  padding: 30px 5%;
}

.tile-container-header {
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .2);
  background-color: #FFF;
  transition: all .25s ease-in-out;
  cursor: pointer;
  height: fit-content;
  padding-bottom: 10px;
  width: 300px;
  margin: 0 2% 30px 2%;

  &:hover {
    transform: scale(1.03);
  }

  img{
    // height: 200px;
    width: 100%;
    height: 200px;
    
  }

  h4{
    padding: 5px 10px 0px 10px;
    border-top: 5px solid $orange;
    color: $navy-blue;
  }

  p{
    color: gray;
    padding: 0 10px;
    font-size: 18px;
  }
}

h1 {
  margin-bottom: 20px;
  font-weight: bold;
}

.show-image {
  display: flex;
  justify-content: center;
  width: 55%;
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.show-container {
  display: flex;
  justify-content: space-between;
  
  h1 {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 4px solid $orange;
      width: fit-content;
  }

}

.pet-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  span {
    color: gray;
  }

  p {
    margin-bottom: 7px;
    font-size: 22px;
  }
  
  button {
    background-color: $orange;
    color: $navy-blue;
    transition: .5s;
    width: 166px;
    padding: 18px 5px;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    
    &:hover{
      background-color: $navy-blue;
      color: #FFF;
    }
  }
}

.pet-story {

  h6 {
    font-size: 22px;
  }

  p {
    color: gray;
    font-size: 20px;
  }
}

form {
  margin-top: 40px;
}

.submit-button {
  background-color: $orange;
  color: $navy-blue;
  transition: .5s;
  width: 200px;
  padding: 18px 5px;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  z-index: 50;
  
  &:hover{
    background-color: $navy-blue;
    color: #FFF;
  }
}

.button-holder {
  display: flex;

  div {
    // left: -155px;
    // position: relative;
    // z-index: 2;
    margin-left: 30px;
    text-align: center;
    transition: .5s;
    width: 150px;
    padding: 18px 5px;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    background-color: green;
    color: white;
    animation: reveal 5s linear forwards;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}